# Ignore all files in any subfolder of model_checkpoint
Model_checkpoint/Abdominal/model0.pth
Model_checkpoint/Abdominal/model1.pth

Model_checkpoint/Cholec/model0.pth
Model_checkpoint/Cholec/model1.pth

Model_checkpoint/Thoracic/model0.pth
Model_checkpoint/Thoracic/model1.pth

Data_samples/output/

xxslot/

__pycache__/
*.pyc
*.py[cod]
*$py.class